<app-sidebar></app-sidebar>
<div class="main-content">
    <header>
      <h3 style="font-size: 24px; margin-left: 48px;">Notifications</h3>
      <input type="text" class="search-bar" placeholder="Search">
    </header>

    <ul class="notification-list list-unstyled p-3">
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>Reminder: Don't forget to complete your daily practice session!</span>
      </li>
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>New Course Alert: Check out our latest advanced sign language course now available.</span>
      </li>
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>Maintenance Notice: Our site will be down for maintenance from 2 AM to 4 AM.</span>
      </li>
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>Tip of the Day: Practice finger spelling to improve your accuracy.</span>
      </li>
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>Update: We've added new features to enhance your learning experience. Explore them now!</span>
      </li>
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>Maintenance Notice: Our site will be down for maintenance from 2 AM to 4 AM.</span>
      </li>
      <li class="d-flex align-items-center mb-2">
          <span class="dot"></span>
          <span>Reminder: Don't forget to complete your daily practice session!</span>
      </li>
  </ul>
</div>
