<app-side-set></app-side-set>
<div class="settings-container">  
    <div class="feedback-container">
      <header>
        <h1>Feedback</h1>
      </header>
      <form>
        <div class="form-group">
          <label for="feedback">Let us know what you think about GestureGuru!</label>
          <textarea id="feedback" name="feedback" style="height: 400px;" placeholder="Feature suggestion, bug reports, or other fun messages to the SignWise team!"></textarea>
        </div>
        <button type="submit" class="send-button">Send feedback</button>
      </form>
    </div>
  </div>