:host {

    flex-direction: column;
    min-height: 100vh; /* Ensure the component takes at least the full viewport height */
  }
  
  .about-us-content {
    flex: 1; /* This allows the content section to take up remaining vertical space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center content */
    padding: 20px;
    box-sizing: border-box;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
  }
  
  .section-header {
    margin-top: 40px;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
  }
  
  .section-header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
  }
  
  .section-content {
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
  }
  
  .section-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 80px;
  }

  main .sign-up{
    font-size: 1rem;
    color: #fff;
    background-color: #4442B4;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}