<div class="login-container">
    <div class="login-form">
      
      <div class="logo-container">
        <div class="logo" >
          <img src="assets/logo.jpeg" alt="Logo" width="50" height="50" (click)="navigateToLand()">
        </div>
        <div class="content">
          <h2>Login</h2>
          <p>Enter your credentials below</p>
        </div>
      </div>   
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">   
        <ul class="form-list">
          <li class="form-group">
            <label for="username">Email</label>
            <input type="text" id="username" formControlName="username" class="form-control" placeholder="johnsmith">
          </li>
          
          <li class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
          </li>
        </ul>
        
        <button class="login-button" type="submit">Log In</button>
      </form>
      
      <p>Don't have an account? <a class="sign-up" (click)="navigateToSignup()">Click here</a></p>
    </div>
  </div>
  
