body {
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 256px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 64px;
  overflow: hidden;
}

.sidebar-logo img {
  margin-top: 24px; 
  margin-bottom: 24px;
}

.sidebar-menu {
  width: 100%;
}

.menu-items {
  list-style-type: none;
  padding: 12px;
  margin: 0;
}

.menu-items li {
  width: 100%;
  margin-bottom: 16px;
}

.menu-items li a {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #495057;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
  border-radius: 10px;
  white-space: nowrap;
  transition: .4s;
}

.menu-items li a:hover,
.menu-items li a.active {
  border-radius: 5px;
  background-color: #e9ecef;
  color: #4442B4;
}

.menu-items li a i {
  margin-right: 16px;
  font-size: 20px;
  min-width: 30px;  
  text-align: center;
}

.menu-items li a span {
  opacity: 1;
  pointer-events: none;
  transition: opacity .3s;
}

.sidebar.collapsed .menu-items li a span {
  opacity: 0;
}

@media (max-width: 768px) {
  .sidebar {
    width: 88px;
    overflow: hidden;
  }

  .sidebar-logo img {
    opacity: 0;
    margin-top: 24px; 
    margin-bottom: 24px;
  }

  .menu-items li a span {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
  }

  .sidebar.collapsed {
    width: 256px;
  }
}
