<div style="padding-top: 100px; padding-bottom: 100px;">
    <main>
      <h2>Speak Without Words</h2>
      <p style="font-size: 24px;">Bridging Gaps with Every Gesture</p>
      <button class="sign-up" (click)="navigateToSignup()">Get Started</button>
      <button class="sign-up" (click)="navigateToHome()">Home</button>
      <button class="sign-up" (click)="navigateToSet()">Video viewer (WIP)</button>
    </main> 
  </div>

  <div>
    <div class="content">
      <div class="text-section">
          <h3>Free and Engaging Lessons</h3>
          <p>Learning sign language has never been easier. Video lessons can be accessed from your computers anywhere, anytime.</p>
      </div>
      <div class="image-section">
          <img src="" alt="Image1">
      </div>
    </div>

    <div class="content swap"> 
      <div class="text-section">
        <h3>Sign with Ease</h3>
        <p>Each course has been thoroughly tried and tested, ensuring an optimal learning curve for beginners.</p>
      </div>     
      <div class="image-section">
          <img src="" alt="Image2">
      </div>      
    </div>
  </div> 
  
  <div class="additional-content">
    <h3>Why GestureGuru?</h3>
    <div class="features">
      <div class="feature">
        <i class="fa-solid fa-globe"></i>
        <h4>American Sign Language</h4>
        <p>Learning American Sign Language (ASL) opens doors to meaningful communication with the Deaf and hard-of-hearing community, fostering inclusivity and empathy. </p>
      </div>
      <div class="feature">
        <i class="fa-solid fa-users"></i>
        <h4>Verified by trusted teams</h4>
        <p>Each courses has been tried and tested by our trusted teams, which further guarantees your satisfaction in learning our lessons.</p>
      </div>
      <div class="feature">
        <i class="fa-solid fa-brain"></i>
        <h4>Integrated AI Motion Tracking</h4>
        <p>AI system trained to track hand movements can accurately assess your proficiency in sign language.</p>
      </div>
      <div class="feature">
        <i class="fa-regular fa-calendar-check"></i>
        <h4>Track your learning progress</h4>
        <p>GestureGuru tracks your journey in learning sign language. You can look back your progress and see how much you have improved.</p>
      </div>
    </div>
  </div>

  <div class="review-section" style="margin-top: 80px;">
    <div class="review-head">
      <h3>Reviews</h3>
      <p>Verified by our trusted teams</p>
    </div>
    <div class="reviews">
      <div class="review-card">
        <h4>“This sign language course is fantastic! The interactive lessons are engaging and easy to follow.”</h4>
        <div class="reviewer">
          <img src="src/img/reviewer1.jpg" alt="John Titor">
          <div>
            <h4>John Titor</h4>
            <p>Professional Writer</p>
          </div>
        </div>
      </div>
      <div class="review-card">
        <h4>“Highly recommend this platform for anyone wanting to learn sign language.”</h4>
        <div class="reviewer">
          <img src="src/img/reviewer2.jpg" alt="Nathan Pierce">
          <div>
            <h4>Nathan Pierce</h4>
            <p>Local Teacher</p>
          </div>
        </div>
      </div>
      <div class="review-card">
        <h4>“The lessons are structured perfectly for beginners.”</h4>
        <div class="reviewer">
          <img src="src/img/reviewer3.jpg" alt="Matthew Patrick">
          <div>
            <h4>Matthew Patrick</h4>
            <p>Sign Language Enthusiast</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 60px; margin-bottom: 100px; height: 424px;">
    <main style="padding-top: 120px; padding-bottom: 120px; background-color: #f7f7f7;">
      <h2 style="font-size: 40px;">Learn Sign Language with GestureGuru!</h2>
      <p>Click the button below to start your journey!</p>
      <button class="sign-up" (click)="navigateToSignup()">Get Started</button>
    </main> 
  </div>
