<div class="lesson-view-container">
    <button class="back-btn" (click)="navigateToLessons()"><i class="fas fa-arrow-left"></i> Back</button>
    <div class="content">
      <div class="sidebar">
        <div class="progress">
          <div *ngFor="let lesson of filteredLessons">
            <div class="progress-item">
              <i class="fas" [ngClass]="{
                'fa-check-circle': lesson.status === 'Completed',
                'fa-circle': lesson.status === 'Not Started'
              }"></i> 
              {{ lesson.title }} <span class="level">{{ lesson.type }}</span>
            </div>
          </div>          
        </div>
      </div>
      <div class="main">
        <div class="video-container">
          <video controls>
            <source src="{{videoPath}}" type="video/mp4">
            <track src="path_to_your_captions.vtt" kind="captions" srclang="en" label="English">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="navigation">
          <button class="nav-btn"><i class="fas fa-arrow-left"></i></button>
          <button class="lesson-btn" (click)="navigateToWebcam()">Try this lesson</button>
          <button class="nav-btn"><i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </div>
  