<app-sidebar></app-sidebar>
<div class="main-content">
    <header>
      <h3 style="font-size: 24px; margin-left: 48px;">Lessons</h3>
      <input type="text" class="search-bar" placeholder="Search">
    </header>

    <div class="lessons-table">
      <table>
          <thead>
              <tr>
                  <th>Task</th>
                  <th>Title</th>
                  <th>Type</th>
                  <th>Flag</th>
                  <th>Progress</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>SIG-001</td>
                  <td>Getting Started</td>
                  <td><span class="type beginner">Beginner</span></td>
                  <td><span class="flag"><i class="fa-solid fa-flag"></i></span></td>
                  <td><span class="progress completed"></span></td>
              </tr>
              <tr>
                  <td>SIG-002</td>
                  <td>Hello</td>
                  <td><span class="type beginner">Beginner</span></td>
                  <td><span class="flag"><i class="fa-solid fa-flag"></i></span></td>
                  <td><span class="progress completed"></span></td>
              </tr>
              <!-- Add more rows as needed -->
          </tbody>
      </table>
  </div>
</div>
