body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  .main-content {
    margin-left: 256px; /* Adjust based on your sidebar width */
    width: calc(100% - 256px);
    padding: 0px;
  }
  
  header {
    /* display: flex; */
    height: 134px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header .search-bar {
    margin-left: 48px;
    width: 405px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 16px;
  }

  .lessons-table {
    width: 100%;
    padding-left: 64px;
    padding-right: 64px;
    margin-top: 20px;
    padding-bottom: 64px;
    
}

.lessons-table table {
    width: 100%;
    border-collapse: collapse;
}

.lessons-table th, .lessons-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

.lessons-table th {
    background-color: #fff;
    font-weight: bold;
}

.lessons-table td:last-child, .lessons-table th:last-child {
    text-align: center;
}

.type {
    padding: 4px 8px;
    border-radius: 8px;
    color: #000;
    font-size: 16px;
}

.type.beginner {
    background-color: #7aba7873;
}

.type.intermediate {
    background-color: #ffc1077a;
}

.type.advanced {
    background-color: #dc354681;
}

.flag {
    display: inline-flex;
    width: 24px;
    height: 24px; /* Replace with your flag icon */
    align-items: center;
}

.progress {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.progress.completed {
    background-color: #28a745;
}

.progress.not-completed {
    background-color: #6c757d;
}