<app-sidebar></app-sidebar>
<div class="main-content">
    <header>
        <h3>Lessons</h3>
    </header>

    <div class="lessons-table">
        <table>
            <thead>
                <tr>
                    <th class="centered">Detail</th>
                    <th class="task-column">Task</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th class="centered">Flag</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lesson of lessonList">
                    <td class="centered" (click)="detail(lesson.title)">
                        <i class="fa-solid fa-eye"></i>
                    </td>
                    <td class="task-column">{{ lesson.code }}</td>
                    <td>{{ lesson.title }}</td>
                    <td><span class="type {{ lesson.type }}">{{ lesson.type }}</span></td>
                    <td class="centered" (click)="toggleBookmark(lesson.id, lesson.saved)">
                        <span class="flag">
                            <i class="fa-solid fa-bookmark"
                               [class.bookmarked]="lesson.saved">
                            </i>
                        </span>
                    </td>
                    <td><span class="progress {{ lesson.progress }}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
