<app-sidebar></app-sidebar>
<div class="main-content">
    <header>
      <h3>Achievements</h3>
    </header>
    <div class="achievements-page">
      <div class="achievements-content">
        <div class="achievements-grid">
          <div class="achievement-card" *ngFor="let achievement of achievements">
            <i class="fa fa-trophy"></i>
            <h3>Perfection</h3>
            <p>1/10</p>
            <p>Achieve 100% accuracy 10 times</p>
          </div>
        </div>
      </div>
    </div>
</div>

