<app-sidebar></app-sidebar>
<div class="main-content">
    <header>
      <h3>Achievements</h3>
      <input type="text" class="search-bar" placeholder="Search">
    </header>
    <div class="achievements-page">
      <div class="achievements-content">
        <div class="achievements-grid">
          <div class="achievement-card" *ngFor="let achievement of achievements">
            <i class="fa fa-trophy"></i>
            <h3>{{ achievement.title }}</h3>
            <p>{{ achievement.progress }}</p>
            <p>{{ achievement.description }}</p>
          </div>
        </div>
      </div>
    </div>
</div>

