body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.main-content {
  margin-left: 256px; /* Adjust based on your sidebar width */
  width: calc(100% - 256px);
  padding: 0px;
}

header {
  /* display: flex; */
  height: 134px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h3 {
  font-size: 24px;
  margin-left: 48px;
}

header .search-bar {
  margin-left: 48px;
  width: 405px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 16px;
}

.content {
  padding: 48px;
}

.profile-cont{
  margin-bottom: 10px;
  background-color: #fff;
  padding: 24px;
  padding-top: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.pfp {
  margin-right: 48px; /* Adjust spacing between logo and content */
}

.pfp img {
  width: 50px;
  height: 50px;
}

.profile{
  text-align: left;
}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content h2 {
  font-size: 24px;
  font-weight: bold;
}

.content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 45% 1fr; /* Three columns with custom widths */
  grid-gap: 20px;
  margin: 0 -12px; /* Adjusts for the item margin */
}

.grid-container > div {
  margin: 12px; /* Adds margin to each item */
}

.lessons {
  width: 50vh; /* Fixed width for lessons box */
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.type {
  padding: 4px 8px;
  border-radius: 8px;
  color: #000;
  font-size: 16px;
}

.type.beginner {
  background-color: #7aba7873;
}

.type.intermediate {
  background-color: #ffc1077a;
}

.type.advanced {
  background-color: #dc354681;
}

.achievements, .performance {
  height: 30vh;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.mission {
  width: 100%; /* Slimmer width for daily mission box */
  background-color: #fff;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  grid-row: span 2; /* Span two rows in the grid */
  text-align: left;
}

.lessons table {
  width: 100%;
  border-collapse: collapse;
}

.lessons table th, .lessons table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.status-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}

.lessons table td.centered {
  text-align: center;
  vertical-align: middle;
}

.status-dot.green {
  background-color: #7ABA78;
}

.status-dot.yellow {
  background-color: #F3CA52;
}

.status-dot.red {
  background-color: #E15E54;
}

.status-dot.purple {
  background-color: #618CCC;
}

.status-dot.grey {
  background-color: #B3B3B3;
}

.achievements .achievement {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.achievements .achievement i {
  color: gold;
  margin-right: 10px;
}

.performance {
  display: flex;
  flex-direction: column;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-content {
  display: flex;
  flex-direction: column; /* Column layout for desktop */
  align-items: center; /* Center the progress ring */
}

.mission .left-align {
  align-self: flex-start;
  text-align: left;
  margin-bottom: 24px;
}

.progress-ring {
  position: relative;
  width: 160px;
  height: 160px;
  align-items: center; /* Center vertically */
  margin-bottom: 20px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle {
  width: 100%; /* Adjusted width to account for border */
  height: 100%; /* Adjusted height to account for border */
  border-radius: 50%;
  border: 10px solid #4442B4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* No fill */
}

.circle p {
  color: #31363F;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.mission-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.mission-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  word-wrap: break-word; /* Allows text wrapping */
  white-space: normal;
}

.mission-list .status-dot {
  margin-right: 10px;
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 256px; /* Adjust for smaller sidebar */
    width: calc(100% - 256px); /* Adjust width accordingly */
  }

  header h3 {
    font-size: 20px; /* Smaller header size */
    margin-left: 16px; /* Adjust margin */
  }

  header .search-bar {
    width: 60%; /* Smaller width on smaller screens */
    max-width: 100%; /* Full width */
    margin-left: 16px; /* Adjust margin */
  }

  .content {
    padding: 24px; /* Reduce padding for smaller screens */
  }

  .profile{
    text-align: left;
  }

  .pfp {
    margin-right: 48px; /* Remove right margin */
    margin-bottom: 16px; /* Add bottom margin */
  }

  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 12px; /* Adjust gap between items */
  }

  .lessons {
    width: 100%; /* Full width for smaller screens */
    order: 1;
  }

  .mission{
    order: 2;
  }

  .second-column {
    width: 100%;
    order: 3;
  }

  .achievements, .performance, .mission {
    width: 100%; /* Full width for smaller screens */
    margin: 0;
  }

  .mission {
    grid-row: auto; /* Adjust row span */
  }

  .mission-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the two columns */
    flex-direction: row; /* Two columns for smaller screens */
    align-items: flex-start; /* Align items to the top */
  }

  .progress-ring {
    display: flex; /* Center the circle */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .mission-list {
    flex: 1; /* Allow mission list to take available space */
    padding-left: 16px; /* Space between the circle and the list */
  }

  .mission-list li {
    display: flex; /* Align items in the list */
    align-items: center; /* Center items vertically */
  }
  
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 88px; /* Adjust for smaller sidebar */
    width: calc(100% - 88px); /* Adjust width accordingly */
  }

  header h3 {
    font-size: 18px; /* Smaller header size */
    margin-left: 8px; /* Adjust margin */
  }

  header .search-bar {
    width: 80%; /* Smaller width on smaller screens */
    margin-left: 8px; /* Adjust margin */
  }

  .profile{
    text-align: left;
  }

  .pfp {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }

  .pfp img {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .content {
    padding: 16px; /* Reduce padding for smaller screens */
  }

  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 12px; /* Adjust gap between items */
  }

  .lessons, .achievements, .performance, .mission {
    width: 100%; /* Full width for smaller screens */
    margin: 0;
  }

  .mission {
    margin-top: 20px;    
    order: 2; /* Move mission above other items */
  }

  .lessons {
    order: 1; /* Move lessons below mission */
  }

  .second-column{
    order: 3; /* Keep achievements and performance below lessons */
  }
}

@media (max-width: 480px) {
  .header .search-bar {
    width: 100%; /* Full width for very small screens */
    margin-left: 0; /* Remove left margin */
  }

  .grid-container {
    grid-template-columns: 1fr; /* Single column layout */
    grid-gap: 12px;
  }
}